.tables-num{
    display: grid;
    grid-template-columns: 400px 500px;
    background-color: white;
    margin-left: 25px;
    
  }
  
  .image-top{
      width: 650px;
      height: 500px;
      margin-left: 200px;
  }
  .top-text{
      text-align: justify;
      font-size: 12px;
    
  }
  .last3-img{
    height: 400px;
    width: 400px;
  }
  .container .box{
      width: 300px;
      height: 250px;
      margin: 40px 0;
      background: #fff;
      color: rgba(0, 0, 0, 0.5);
  }
  
  
  
  .container .box.shadow1{
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .box.shadow1{
      display: flex;
      flex-direction: column;
     align-items: center;
     
  }
  
  .radio-t{
   display: inline-flex;
  }
  .box.shadow1 h1{
      font-size: 20px;
      color: black;
      margin-top: 10px;
  }
  
  
  .top-table{
      display: grid;
      grid-template-columns: 40px 40px 40px 40px 40px 40px;
  }
  .top-table div{
      color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      width: 40px;
      height: 40px;
      background-color: rgb(255, 255, 255);
      border: 0.1px solid gray;
  }
  
  .top-table div:hover{
      color: rgb(255, 255, 255);
      width: 40px;
      height: 40px;
      background-color: orange;
      border: 1px solid black;
  }
  
  
  .box-button{
      width: 240px;
      height: 40px;
      background-color: orange;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      cursor: pointer;
  }



  /* first component  */
/* .btn btn-secondary btn-lg{
    color: orangered;
    height: 100px;
    width: 100px; */



.divisor{
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
}
.the{
    margin-top: 50px;
}
.edit{
    width: 500px;
    height: 300px; 
} 
.fir{
     padding-left: 200pxpx;
}
.firr{
    padding-right: 200px;
}
.third{
   
    padding-top: 100px;
   

}

.card-group{
    column-gap: 10px;

}
.four{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: rgb(197, 120, 239);
    padding-top: 40px;
    margin-top: 100px;
}
.ab{
    height: 250px;
    width: 400px;
}
.add{
    border: 3px solid black;
    height: 100px;
    width: 200px;
    margin-left: 30px;
    background-color: bisque;
}
.five{
    margin-top: 100px;
    background-color: aquamarine;

}
.six{
    align-content: center;
    margin-top: 100px;
    background-color: aquamarine;
}

.cropped{
    height: 400px;
    width: 400px;
}

.seven{
    margin-top: 60px;
    background-color: rgb(227, 232, 232);
}
.abb{
    display: grid;
}
.lefts{
    
    
    
    display: grid;
    grid-template-rows: 75% 25%;
    font-family: sans-serif;

}

.idiot{
    display: grid;
    grid-template-columns: 20% 30% 35% 15%;
    margin-top: 40px;
}
.eight{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding-top: 100px;
    background-color: rgb(247, 244, 239); 
    height: 350px;   
}
.midlogo{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.logo{
    height: 100px;
    width: 100px;
}
.nine{
    margin-top: 100px;
    height: 400px;
    width: 100%;
    padding-left: 450px;
    
    
}

.all{
    display: grid;
    grid-template-columns:15% 35% 35% 15%;
    background-color: bisque;
    
}
.slide{
    
    height: 350px;
    width: 250px;
    
}
.ten{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 60% 40%;
    background-image: url(https://www.whitehatjr.com/images/video-popup/saira-bg.png);
    height: 500px;
}

.ones{
   display: grid;
   grid-template-rows: 50% 40% 10% ;
   color: white;
}
.nischal{
    margin-top: 100px;
}
.box-button2{
    width: 290px;
    height: 70px;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;

    
}
.uu{
    margin-right: 185px;
}
.box-button2 h5{
    margin-top: 20px;
    font-family: 'Anton', sans-serif;
    margin-top: 2px;
    margin-left: 8px;
}
.box-button2 div{
    
    margin-top: -14px;
    font-size: 20px;
}










































.eleven{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: rgb(235, 243, 243);
    column-gap: 15px;
}
.part{
    display: grid;
    grid-template-rows: 50% 50%;
}
.fit{
    margin-top: 8px;
}
.twelve{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color:whitesmoke;
    margin-top: 150px;
    height: 150px;
}
.twelve>div{
    margin-top: 45px;
    align-items: center;
}
.thirteen{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    margin-top: 50px;


}
.edit{
    height: 350px;
    width: 530px;

}
.thirteen>div{
    margin-top: 25px;
}
.btn{
    background-color: rgb(240, 168, 13);
    color: white;
    font-size: 15px;
    height: 50px;
    width: 150px;
    
}
.forteen{
    margin-top: 150px;
    
}
.fifteen{
    padding-top: 100px;
    
   

}
.lkj:hover{
    display: block;
}
.distribute{
    display: grid;
    grid-template-columns: 15% 22% 25% 25% 13%;
    height: 500px;
    column-gap: 10px;
    margin-top: 10px;
    
}
.second{
    border: 2px solid black;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    
    
   
   
    
    
}

.seventeen{
    padding-top: 50px;
}
.sided{
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}
.sides1{
    height: 400px;
    width: 400px;
}
.eighteen{
    padding-top: 100px;
   
}
.jkl{
    display: grid;
    grid-template-columns: 20% 15% 15% 15% 15%  20%;
}
.lkj{
    height: 200px;
    width: 200px;
}
.nineteen{
   padding-top: 30px;
   padding-left: 350px;
    height: 400px;
    width: 100%;
background-image: url(	https://s3-cdnwhjr.whjr.online/website/desktop/mathbg1x.png);
background-repeat: no-repeat;
}
.hit{
    line-height: 70px;
}
.nineteen>h2{
    padding-left: 300px;
}
.nineteen>h2>img{
    padding-top: 100px;
    padding-left: 250px;
}
.twenty{
    padding-top: 100px;
    

}
.last2{
    height: 400px;
    width: 100%;
}
.twentyone{
    background-color: rgba(167, 167, 167, 0.852);
    height: 250px;
}
.ton{
    height: 130px;
    width: 100px;
}
.twentyone>a>img{
    margin-right: 100px;  
    margin-bottom: 100px;
    

}

.tens{
    display: grid;
    grid-template-columns: 5% 18% 18% 18% 18% 19% 4%;
    height: 550px;
    column-gap: 20px;
    padding-top: 50px;
    background-color: rgb(230, 233, 237);
   
}
.tenss{
    display: grid;
    grid-template-rows: 65% 35%;
    border: 0.5px solid rgb(31, 20, 20);
    border-radius: 10px ;
    height: 400px;
    background-color: white;
    
}
.slider{
    width: 100%;
    height: 800px;
    /* background-color: aquamarine; */
}
.d-block{
    height: 600px;
    width: 100%;
}
.Part {
    text-align: center;
  }
  
  .slidet{
    color: red;
  }
 
  .editor{
    width: 1350px;
  }
  .abc {

background-image: url(https://s3-cdnwhjr.whjr.online/website/desktop/minecraft-banner-desktop.png);
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 90px;
    position: relative;

}

.sam {
    background-color: #FF8D1A;
    margin-top: 13%;
    color: white;
    border-color: #FF8D1A;
    width: 250px;
    height: 50px;
    margin-left: -175%;
    margin-top: 25%;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    padding-top: 8px;


}
.hii{
    margin-right: 150px;
}

.rrr {
    background-color: transparent;
    border-color: white;
    color: white;
    height: 50px;
    width: 160px;
   margin-left: 2%;
    font-size: 20px;
    padding-top: 8px;
}

.opp{
    margin-top: -80px;
    cursor: pointer;
    

}
.opp:hover{
    display: block;
}
.okk{
    background-color: rgb(249, 231, 208);
    height: 120px;
   
   
   
}
.duffer{
    background-color: rgb(246, 254, 254);
}

.box-button1{
    width: 290px;
    height: 70px;
    background-color: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    
    
}
.box-button1 h5{
    margin-top: 20px;
    font-family: 'Anton', sans-serif;
    margin-top: 2px;
    margin-left: 8px;
}
.box-button1 div{
    /* margin-left: 40px;
    margin-right: 20px;
    margin-top: 16px; */
    margin-top: -14px;
    font-size: 20px;
}
.aav1{
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    height: 400px;
    margin-top: 25px;
    

}
.aav12{
    
    display: grid;
    grid-template-columns: 50% 50%;

}
.aav5{
    height: 400px;
    width: 450px;
}
.aav3{
    display: grid;
    grid-template-rows: 65% 20% 15%;
}
.aav55{
    margin-top: -10px;
}

.sec-four{
   
    width: 100%;
    height: 600px;
  }

  .sec-four-main{
    display: grid;
    grid-template-columns: 260px 260px 260px 260px 260px;
  }

  .fcard{
    width: 230px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
  }

  .fcard img{
    width: 230px;
    height: 150px;
  }

  .f-ptag{
   text-align: justify;
   margin-top: 20px;
   padding: 10px;

  }

  .f-ptag h3{
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
  
  }
  .f-ptag p{
    font-size: 8px;
     margin-top: 30px;
     color: gray;
  
  }

  


  .four-btn{
    width: 200px;
    height: 35px;
    background-color: rgb(255, 153, 0);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-family: 'Secular One', sans-serif;
    margin-left: 420px;
  }

  .four-btn h2{
    font-weight: bold;
    font-size: 10px;
    margin-top: 10px;
    color: #fff;
  }

  .four-head{
   margin-left: 330px;
   color: rgb(5, 5, 5);
   width: 500px;
   height: 100px
  }

  .four-head h1{
    font-size: 27px;
    font-weight: bold;
  }